<div th:fragment="navbar">
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="/images/logo.svg" alt="logo" height="50" class="d-inline-block align-text-top">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse flex-grow-0" id="navbarNav">
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" href="#">팀 소개</a></li>
                    <li class="nav-item"><a class="nav-link" target="_blank" rel="noopener noreferrer"
                                            href="https://d3cdrqb4y092k4.cloudfront.net/usage/usage.html">이용방법</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#subscriptionModal">구독하기</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div th:replace="~{fragments/modal/subscription-modal :: subscriptionModal}"></div>
</div>
