<div th:fragment="unSubscribeModal">
    <div class="modal fade" id="confirmCancelModal" tabindex="-1" aria-labelledby="confirmCancelModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmCancelModalLabel">구독 취소 확인</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="닫기"></button>
                </div>
                <div class="modal-body">
                    구독을 정말로 취소하시겠습니까? 이 작업은 되돌릴 수 없습니다.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                    <form id="unsubscribeForm" th:action="@{/unsubscribe}" method="post">
                        <button type="submit" class="btn btn-danger">확인</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const form = document.getElementById("unsubscribeForm");
            form.addEventListener("submit", function (e) {
                e.preventDefault();
                if (confirm("구독이 취소되었습니다.")) {
                    form.submit();
                }
            });
        });
    </script>
</div>
