<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{admin/dashboard/layout :: layout(~{::contentFragment})}">
<div th:fragment="contentFragment">
    <h3 class="fw-bold mb-4">회원 관리</h3>
    <p class="text-muted">회원 목록을 조회하고 관리할 수 있습니다.</p>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>이메일</th>
            <th>역할</th>
            <th>UUID</th>
            <th>가입일</th>
            <th>수정일</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}">1</td>
            <td th:text="${user.email}">hong@test.com</td>
            <td>
                <span th:text="${user.role}"
                      th:classappend="
                        ${user.role == 'ADMIN'} ? 'badge bg-primary' :
                        (${user.role == 'MANAGER'} ? 'badge bg-success' : 'badge bg-secondary')
                      ">
                    ADMIN
                </span>
            </td>
            <td th:text="${user.uuid}">3c2e82ad-2951-4a63-8123-c975c7b50a55</td>
            <td th:text="${#temporals.format(user.createdAt, 'yyyy-MM-dd HH:mm')}">2025-08-20 12:00</td>
            <td th:text="${#temporals.format(user.updatedAt, 'yyyy-MM-dd HH:mm')}">2025-08-20 12:30</td>
            <td>
                <a class="btn btn-primary btn-sm col-action"
                   th:href="@{/admin/dashboard/users/{id}(id=${user.id})}">
                    자세히 보기
                </a>
            </td>
        </tr>
        </tbody>
    </table>

    <nav>
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
                <a class="page-link"
                   th:href="@{/admin/dashboard/users(page=${currentPage - 1}, size=${10})}">&lt;</a>
            </li>

            <li class="page-item"
                th:each="page : ${#numbers.sequence(1, totalPages)}"
                th:classappend="${page == currentPage} ? 'active'">
                <a class="page-link"
                   th:href="@{/admin/dashboard/users(page=${page}, size=${10})}"
                   th:text="${page}">1</a>
            </li>

            <li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled'">
                <a class="page-link"
                   th:href="@{/admin/dashboard/users(page=${currentPage + 1}, size=${10})}">&gt;</a>
            </li>
        </ul>
    </nav>
</div>
</html>
