<footer class="text-muted bg-light py-4">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-6 mb-3">
                <small class="d-block mb-1">© 2025 CS-ALGO. All rights reserved.</small>
                <small class="d-block mb-0">이메일 team.jjins@gmail.com</small>
            </div>
            <div class="col-md-6 mb-3 text-md-end">
                <ul class="list-unstyled mb-0">
                    <li><a href="https://github.com/TEAM-JJINS" class="text-decoration-none text-muted small">팀 소개</a></li>
                    <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSdOkx5MslyefDvSEf1F5UPI5HBAuwXh70wEqRD9oqzMcJ-8tQ/viewform?usp=header"
                           class="text-decoration-none text-muted small">서비스 피드백</a></li>
                    <li><a href="https://github.com/TEAM-JJINS" class="text-decoration-none text-muted small"
                           target="_blank">GitHub Organization</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
